<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <hr>
        <h1>Random Game</h1>
        <hr>
        <h2>{{name}}</h2>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img id='poster' src={{poster}} alt="game_poster">        
          </div>
          <div class="col-12">
            <hr>
            <h3>Game Details</h3>
            <p>Release Year: <span>{{releaseYear}}</span></p>
            <p>Genre: <span>{{genre}}</span></p>
            <p>Rating: <span>{{rating}}</span></p>
            <p>Price: <span>{{price}}</span></p>
            <p>Platform: <span>{{platform}}</span></p>
            
            <hr>
          </div>
          <div class="col-12">
            <h3>Minimum System Requirements (30 fps on Lowest Settings)</h3>
            <p>Operating System: <span>{{osMin}}</span></p>
            <p>Processor: <span>{{processorMin}}</span></p>
            <p>Video: <span>{{videoMin}}</span></p>
            <p>Memory: <span>{{memoryMin}}</span></p>
            <p>Storage: <span>{{storageMin}}</span></p>
            <hr>
          </div>
          <div class="col-12">
            <h3>Recommended System Requirements (60 fps on Medium Settings)</h3>
            <p>Operating System: <span>{{osRec}}</span></p>
            <p>Processor: <span>{{processorRec}}</span></p>
            <p>Video: <span>{{videoRec}}</span></p>
            <p>Memory: <span>{{memoryRec}}</span></p>
            <p>Storage: <span>{{storageRec}}</span></p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>